<div class="container">


    <div class="jumbotron text-center">
        <h1 class="display-4">Chitchatters</h1>
        <p class="lead">Scraped from the fair and impartial Onion rag.</p>
        <hr class="my-4">
    </div>

    {{#each stories}}

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <h4>Tag Line: {{this.title}}</h4>
        <p>Description:
            <a href="https://www.indeed.com/m/{{this.link}}">Link</a>
        </p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {{/each}}
</div>